[submodule "Github/LibreHardwareMonitor"]
	path = Github/LibreHardwareMonitor
	url = https://github.com/LibreHardwareMonitor/LibreHardwareMonitor.git
[submodule "CSharpHacker/vendor/ScottPlot"]
	path = CSharpHacker/vendor/ScottPlot
	url = https://github.com/ccwanggl/ScottPlot.git
