[submodule "Github/LibreHardwareMonitor"]
	path = Github/LibreHardwareMonitor
	url = https://github.com/LibreHardwareMonitor/LibreHardwareMonitor.git
[submodule "CSharpHacker/vendor/ScottPlot"]
	path = CSharpHacker/vendor/ScottPlot
	url = https://github.com/ccwanggl/ScottPlot.git
[submodule "vendor/premake-core"]
	path = vendor/premake-core
	url = https://github.com/ccwanggl/premake-core.git
